color-main = #1493cf
*
  margin 0
  padding 0
li
  list-style none
body
  font-family "SimSun,Microsoft YaHei"
img
  max-width 100%
a
  color #afafaf
  text-decoration none
.activeNav
  color color-main!important
.active-language
  color color-main!important
  border-color color-main!important
.header-box
  background #272b2f
  header
    padding 24px 60px 22px
    display flex
    .logo
      width 220px
      height 85px
      cursor pointer
    .nav-main
      color #babbbb
      font-size 20px
      flex 1
      padding-top 34px
      text-align center
      span
        cursor pointer
        display inline-block
        margin 0 20px
        line-height 36px
        padding 2px 4px
        &:hover
          color #1593d0
    .change-language
      width 120px
      padding-top 32px
      span
        width 42px
        height 42px
        line-height 42px
        display inline-block
        border 1px solid #ffffff
        color #babbbb
        border-radius 50%
        font-size 20px
        text-align center
        cursor pointer
        &:nth-child(n+2)
          margin-left 16px
.footer-box
  background #3e3f3f
  padding 0 60px
  .home-tit
    height 140px
    color color-main
    text-align center
    font-size 30px
    line-height 140px
    i
      font-size 32px    
  .company-info
    color #afafaf
    padding 30px 0 80px 0
    display flex
    font-size 16px
    .logo
      width 240px
      height 92px
    .info-name
      padding 32px 0 0 80px
      width 520px
      p
        margin-bottom 0
        padding-right 14px
      .cn-name
        letter-spacing 14px
        padding-right 0
    .nav
      flex 1
      padding-top 46px
      text-align right
      font-size 14px
      a
        margin 0 0 0 20px
        &:hover
          color color-main
  .my-info
    padding 40px 0 30px
    color #afafaf
    border-top 1px solid #515151
    border-bottom 1px solid #515151
    p
      font-size 20px
      i
        font-size 22px
        vertical-align middle
        color color-main
      .email-icon
        font-size 23px!important
    .info-base
      margin-bottom 20px
      .tag
        padding 0 20px 0 2px
    .info-message
      text-align center
    .info-en
      p
        font-size 18px
.wrapper
  min-height 600px
  width 100%
  .box
    margin 0 40px 40px
  .my-pic
    width 100%
    margin-bottom 40px
    position relative
    img
      width 100%
      max-height 600px
    .text-box
      color #1493cf
      font-size 30px
      position absolute
      left 130px
      top 100px
      p
        margin-bottom 0
  .box-tag
    background-image linear-gradient(#31a9e5, #144da2)
    color #fff
    border-radius 2px
    width 180px
    height 164px
    padding 22px 0 0 16px
    font-size 24px
    p
      margin-bottom 0
      color #fff
    .eng
      font-size 22px
.btn-box
  text-align center
  .btn
    display inline-block
    background #1493cf
    color #ffffff
    font-size 18px
    padding 0 50px
    text-align center
    line-height 54px
    border-radius 4px
    cursor pointer
    &:hover
      opacity 0.8