color-main = #1493cf
*
  margin 0
  padding 0
body
  font-family "SimSun,Microsoft YaHei"
  font-size 14px
img
  max-width 100%
a
  color #afafaf
  text-decoration none
.activeNav
  color color-main!important
.active-language
  color color-main!important
  border-color color-main!important
.header-box
  background #272b2f
  height 80px
  header
    padding 16px 40px 0
    .logo
      height 50px
      vertical-align middle
      margin-right 100px
    .nav-main
      display inline-block
      color #babbbb
      font-size 16px
      width calc(100% - 340px)
      span
        cursor pointer
        display inline-block
        margin 0 30px
        line-height 30px
        &:hover
          color #1593d0
      .activeNav
        border-bottom 2px solid #1593d0
    .change-language
      display inline-block
      span
        width 30px
        height 30px
        line-height 30px
        display inline-block
        border 1px solid #ffffff
        color #fff
        border-radius 50%
        font-size 14px
        text-align center
        cursor pointer
        &:nth-child(n+2)
          margin-left 16px
.footer-box
  background #3e3f3f
  padding 0 40px
  .home-tit
    height 140px
    color color-main
    text-align center
    font-size 30px
    line-height 140px
    i
      font-size 32px    
  .company-info
    color #afafaf
    padding 30px 0 80px 0
    display flex
    font-size 16px
    .logo
      width 240px
    .info-name
      padding 32px 0 0 80px
      width 500px
      p
        margin-bottom 0
        text-align right
        padding-right 14px
      .cn-name
        letter-spacing 14px
        padding-right 0
    .nav
      flex 1
      padding-top 46px
      text-align right
      font-size 14px
      a
        margin 0 0 0 40px
        &:hover
          color color-main
  .my-info
    padding 40px 0 30px
    color #afafaf
    border-top 1px solid #515151
    border-bottom 1px solid #515151
    .info-message
      width 900px
      margin 0 auto
    p
      font-size 20px
      i
        font-size 22px
        vertical-align middle
    .info-base
      margin-bottom 20px
      i
        color color-main
      .tag
        padding 0 14px 0 6px
    .info-adress
      i
        color color-main
      .tag
        margin-left 2px
      .email-icon
        margin-left 148px
        font-size 24px
.wrapper
  min-height 600px
  .box
    margin 0 40px 40px